@import "variables";

// Grid
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
}

.grid-height-300 {
  grid-template-rows: repeat(6, 300px);

  @media (min-width: map-get($grid-breakpoints, "md")) {
    grid-template-rows: repeat(3, 300px);
  }

  @media (min-width: map-get($grid-breakpoints, "xl")) {
    grid-template-rows: repeat(2, 300px);
  }
}

// Shadow
.card-shadow {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.05);
}

// Positioning
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (top: top, right: right, bottom: bottom, left: left)
    {
      @each $size, $length in $spacers {
        .#{$abbrev}#{$infix}-#{$size} {
          #{$prop}: $length !important;
        }
        .#{$abbrev}#{$infix}-n#{$size} {
          #{$prop}: -$length !important;
        }
      }
    }
  }
}

// meh
.mx-n16 {
  margin-left: -16px important;
  margin-right: -16px !important;
}
