@import "../../styles/_variables.scss";

nav a {
  color: $gray-700;
  transition: all 0.2s ease-in-out;
  border: 2px solid $gray-100;

  &:hover {
    color: $gray-900;
    text-decoration: none;
    border: 2px solid $gray-900;
  }
}
