@import "../../styles/_variables.scss";

nav {
  a {
    color: $gray-700;
    transition: all 0.2s ease-in-out;
    padding: 4px 0;
    position: relative;

    &:hover {
      text-decoration: none;
      color: $gray-900;
    }

    &::before {
      content: "";
      position: absolute;
      height: 4px;
      background-color: $gray-900;
      left: 0;
      right: 100%;
      bottom: 0;
      transition: all 0.4s ease-in-out;
    }

    &:hover::before {
      right: 0;
    }
  }

  .hamburger-button {
    height: 44px;
    width: 44px;
    padding: 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 4px;
      width: 100%;
      background-color: rebeccapurple;
    }

    .hamburger {
      position: absolute;
      height: 4px;
      width: 100%;
      background-color: rebeccapurple;
    }
  }
}
