@import "../../styles/_variables.scss";

nav {
  a {
    color: $gray-700;
    margin: 5px 0;
    transition: all 0.2s ease-in-out;
    position: relative;

    @media (min-width: map-get($grid-breakpoints, "md")) {
      padding: 4px 0;
    }

    &:hover {
      text-decoration: none;
      color: $gray-900;
    }

    &::before {
      content: "";
      position: absolute;
      height: 2px;
      background-color: $gray-600;
      left: 0;
      right: 100%;
      bottom: 0;
      transition: all 0.4s ease-in-out;
    }

    &:hover::before {
      right: 0;
    }
  }

  .hamburger-button.collapsed {
    height: 48px;
    width: 48px;
    padding: 10px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: all 0.4s ease-in-out;

    &::before,
    &::after {
      content: "";
      height: 4px;
      width: 100%;
      border-radius: 999px;
      background-color: $gray-600;
    }

    .hamburger {
      position: relative;
      height: 4px;
      width: 100%;
      border-radius: 999px;
      background-color: $gray-600;
    }
  }

  .hamburger-button {
    height: 48px;
    width: 48px;
    padding: 10px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      transform: rotate(45deg);
      height: 4px;
      width: 100%;
      border-radius: 999px;
      background-color: $gray-600;
      top: 10px;
    }

    &::after {
      content: "";
      position: absolute;
      transform: rotate(-45deg);
      top: 10px;
      height: 4px;
      width: 100%;
      border-radius: 999px;
      background-color: $gray-600;
    }

    .hamburger {
      opacity: 0;
    }
  }
}
