// @import "../../styles/variables";

// Grid
.grid {
  display: grid;
  grid-gap: 16px;
}

.grid-3x2 {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  // grid-template-rows: repeat(6, 300px);

  // @media (min-width: map-get($grid-breakpoints, "md")) {
  //   grid-template-rows: repeat(3, 300px);
  // }

  // @media (min-width: map-get($grid-breakpoints, "xl")) {
  //   grid-template-rows: repeat(2, 300px);
  // }
}
