.about-us {
  grid-template-columns: 40% 60%;

  &-text {
    display: flex;
    p {
      margin-top: auto;
      margin-bottom: auto;
      flex-grow: 2;
    }

    div {
      clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0% 100%);
      flex-grow: 1;
      background-color: rebeccapurple;
      float: right;
    }
  }

  &-image {
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
  }
}
