.about-us {
  grid-template-columns: 40% 5% 55%;

  &-text p {
    margin-top: auto;
    margin-bottom: auto;
  }

  &-mask {
    shape-outside: polygon(0 0, 0 200px, 300px 600px);
  }

  &-image {
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
  }
}
