.page-divider {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: "";
    height: 1px;
    background-color: black;
  }
}
