$nav-padding: 16px;
$nav-font-size: 16px;
$header-height: calc((#{$nav-padding} * 2) + #{$nav-font-size});

.site-header {
  padding-top: $nav-padding;
  font-size: $nav-font-size;
  line-height: 1;
}

.header-pushdown {
  height: $header-height;
}
