$nav-padding: 16px;
$nav-font-size: 16px;
$nav-logo-height: 32px;
$nav-header-content-height: 51px;
$header-height: calc((#{$nav-padding} * 2) + #{$nav-header-content-height});

.main-content {
  margin-top: $header-height;
}

.site-header {
  padding-top: $nav-padding;
  padding-bottom: $nav-padding;
  font-size: $nav-font-size;
  line-height: 1;
}

.header-pushdown {
  height: $header-height;
}

.header-logo {
  height: $nav-logo-height;
}
